html{
    background-color: rgb(253, 236, 217);
}
.thin_spacer{
    height:15px;
    width:100%;
}
.homepage_title{
    font-family:'Courier New', Courier, monospace;
    display: grid;
    width: 100%;
    justify-content: center;
}
.homepage_content{
    display: grid;
    grid-template-columns: 50% 50%;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-top-width: 2px;
    width: auto;
    height: auto;
    justify-items: center;
}
.game_name{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    display: grid;
    justify-content: center;
}
.pond_game{
    width: 80%;
    height: 100%;
}
.project_pond{
    align-self: center;
    padding-top: 10%;
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: 10% 10%;
    background-image: url(page_resources/water_surface.gif);
    box-shadow: inset 0 -3em 3em rgba(0, 73, 200, 0.3);
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(140, 53, 34);
}
.project_checkbox{
    appearance: none;
}
@keyframes project1_swim {
    from {
    transform: translateX(0%);
    }

    to {
    transform: translateX(100%);
    }
}
.swimming_project{
    height: 50px;
    width: auto;
    opacity: .75;
}
.main_info{
    border-left-width: 2px;
    border-left-style: dashed;
    width: 100%;
    height: 550px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
}
.intro_info{
    font-family: 'Courier New', Courier, monospace;
    justify-content:left;
    padding-left: 10%;
    padding-right: 10%;
}
.document_grid{
    padding-left: 0%;
    padding-right: 0%;
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 100%;
}
.document{
    display: grid;
}
.document_thumbnails{
    display: block;
    justify-self: center;
    height:auto;
    width:80%;
}